// Mixin => hampir sama saja denngan function.
//Dengan Mixin, kita bisa membuat dan menggunakan style yang dapat kita gunakan berkali kali.

// Simple mixin

// @mixin => digunakan untuk menginisialisasikan saat membuat mixin
@mixin inline-li{
    margin: 0;
    padding: 0;
    list-style-type: none;

    li{
        display: inline-block;
    }
}

// Cara menggunakan mixin dengan menggunakan @include
.header {
    @include inline-li(); // format : @include nama_mixin();

    li {
        background-color: black;
        padding: 0.7em;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.footer {
    @include inline-li();

    li {
        background-color: salmon;
        padding: 0.4em;
    }

    a {
        text-decoration: none;
        color: white;
    }
}


// Argument pada mixin
// dengan menggunakan : value, itu artinya kita memberikan value default pada parameter yang dimaksud.
// jadi jika parameter tidak diisi maka tidak apa"

// parameter pada mixin bisa lebih dari satu, sama saja seperti emmeberikan parameter pada function.
@mixin flex-box($direction: row, $space: center) {
    display: flex;
    justify-content: $space;
    align-items: center;
    flex-direction: $direction;
    
}

.container {
    @include flex-box(row-reverse, space-evenly);
    width: 600px;
    height: 400px;
    background-color: gray;

    .box {
        width: 60px;
        height: 60px;
        background-color: greenyellow;
        text-align: center;
        line-height: 60px;
    }
}